.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px; /* Adjust padding as needed */
  background-color: #33333332; /* Add a background color */
}

.site-title {
  font-size: 1rem; /* Adjust font size as needed */
  color: white; /* Set the color of the site title */
  text-decoration: none; /* Remove underline */
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links > * {
  margin-right: 10px; 
}


.nav-links > *:not(:last-child) {
  margin-right: 10px; 
}

.stat-button,
.team-button,
.login-button,
.add-team-button {
  color: white;
  background-color: black;
  width: 150px;
}

.stat-button:hover,
.team-button:hover,
.login-button:hover,
.add-team-button:hover {
  background-color: #555; 
}
